header {
  width: 100%;
  border-bottom: .2rem solid #ffffff;
  height: 6rem;
  position: fixed;
  top: 0;
  background: #4775bf;
  z-index: 9999999999;
  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 2rem;
    color: #161616;
    div {
      width: 20rem;
      margin: 0 1rem;
      span {
        border: none;
        //background: none;
        //font-size: 2rem;
        cursor: pointer;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      li {
        margin: 0 1rem;
        padding: 0 1rem;
        border-left: .1rem solid #ffffff;
        border-right: .1rem solid #ffffff;
        &:last-child {
          margin-right: 5rem;
        }
      }
    }
  }
}