h4.title {
  margin: 5rem 0 3rem 0;
  font-size: 3rem;
  text-align: center;
}

h5.sub-title {
  margin: 4rem 0 1rem 0;
  font-size: 2.4rem;
}

.explain-box {
  margin: 1.5rem 0;
  .explain {
    display: block;
    font-size: 2rem;
    line-height: 3rem;
    &.before-dot:before {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      content: "•";
      margin-right: 1rem;
    }
  }
}

a {
  font-size: 2rem;
}

.text-red {
  font-weight: bold;
  color: #5b0c0c;
}